architecture: x86_64
creation_date: {{ now(utc=true, fmt='%s') }}
properties:
  description: {{ incus_windows_target_config.description }}
  os: windows
  release: {{ incus_windows_target_config.release }}
  variant: default
  architecture: x86_64
  requirements.cdrom_agent: true
